@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --toastify-text-color-light: #000000 !important;
    --toastify-font-family: Arial, Helvetica, sans-serif !important;
}

body{
    background-color: #061127;
}

*::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0, 0, 0, 0);
}
*::-moz-scrollbar {
    width: 10px;  
    background-color: rgba(0, 0, 0, 0.2); 
} 
*::-webkit-scrollbar-thumb {
    border-radius: 5px;  
    background-color: rgba(104, 104, 104, 0.353); 
}
*::-moz-scrollbar-thumb {
    border-radius: 5px;  
    background-color: rgba(0, 0, 0, 0); 
}
  
